{{card-position-fixer resetAction=(action 'resetAllCards')}}
{{#each childWrappers as |wrapper|}}
	<div class="card-position-marker"></div>
	{{photo-card model=wrapper.item withInfo=wrapper.withInfo resetAction=(action 'resetAllCards') addedClass=addedCardClass}}
{{/each}}
