<div class="image-container" style={{model.mediumImageStyle}}></div>
<div class="image-bottom-box">
	{{#if addedDescription}}
		<div class="addedDescription">{{addedDescription}}</div>
	{{/if}}
	<div class="name">{{model.name}}</div>
</div>
{{#link-to destinationRouteName model.slug class="card-link"}}{{/link-to}}