<div class="clear-search" {{action 'clearSearch'}}>✕</div>
<div class="search-field-wrapper">
	{{search-field foundItem="foundItem" action="submit"}}
</div>
{{#if results}}
	<div class="search-field-spacer"></div>
{{/if}}
{{cards-holder model=results addedCardAttribute="resultCard"}}