{{input value=value placeholder=placeholder type=type name=name autocomplete=autocomplete addedClass="wa-text-field" bubbles=true}}
{{#each errors as |error|}}
	<div class="field-error">{{error}}</div>
{{/each}}
