body {
	margin: 0;
	font-family: 'open sans', 'sans-serif';

	&.no-scroll{
		overflow: hidden;
	}
}

a{
	text-decoration: none;
	color: inherit;
}

.centered-text{
	width: 100%;
	padding:1em;
	box-sizing: border-box;
	text-align: center;
	color: #333;
}

.ember-view{
	position: relative;
}

.page-description {
	top: -2em;
	color: white;
	position: relative;
	margin-left: 0.5em;
	font-size: 1.5em;
	margin-bottom: -1em;
	line-height: 1em;
}

#original-map-placeholder {
	.map-holder {
		position: fixed;
		z-index: -1;
		height: 100%;
		width: 100%
	}
}
.map-canvas {
	height:100%;
	width: 100%;
}

#actual-map{
	height: 100%;
	width: 100%;
}

#original-map-placeholder {
	z-index: -1;
	opacity: 0;
}
#expanded-map {
	position: fixed;
	background: #ccc;
	transition: 1s;
	opacity: 0;
	z-index: -1;

	&.expanded {
		z-index:10000;
		opacity: 1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

.expand-map {
	position: absolute;
	height: 50px;
	width: 50px;
	background: rgba(255,255,255,0.8);
	top: 0;
	right: -1px;
	z-index: 1;
	text-align: center;

	&:after{
		content: "\279a";
		font-size: 2em;
		color: #333;
	}
}
.minimize-map {
	position: absolute;
	height: 50px;
	width: 50px;
	background: rgba(255,255,255,0.8);
	top: 0;
	left: 0px;
	z-index: 1;
	text-align: center;

	&:after{
		content: "\2715";
		font-size: 2em;
		color: #333;
	}
}

.side-menu {
	height: 100%;
	position: fixed;
	top: 0;
	left: -90%;
	width: 90%;
	z-index: 1000;
	background: white;
	color: #333;
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;

	&.is-open {
		transform: translate3d(100%, 0, 0);
		-ms-transform: translate3d(100%, 0, 0);
		-webkit-transform: translate3d(100%, 0, 0);

		.menu-close {
			display: block;
		}
	}
	.menu-toggle {
		height: 30px;
		width: 50px;
		position: absolute;
		right: -50px;
		margin: 10px 0;
		top: 0;
		line-height: 30px;
		color: white;
		font-size: 1.5em;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
		text-align: center;
		border-right: 1px solid rgba(255,255,255,0.3);
	}
	.menu-close {
		display: none;
		position: absolute;
		top: 0;
		right: -12%;
		bottom: 0;
		width: 12%;
	}

	.ancestry {
		padding: 1em;
		line-height: 2em;

		.offset-1{
			margin-left:1em;
		}
		.offset-2{
			margin-left:2em;
		}
		.offset-3{
			margin-left:3em;
		}
		.offset-4{
			margin-left:4em;
		}
		.is-selected{
			color: black;
			font-weight: 700;
			border-top: 1px solid #aaa;
		}
	}

	.page-specific{
		border-bottom: 1px solid #ccc;
	}

	.main-menu {
		font-size: 1.5em;
		line-height: 2em;
		padding: 1em;
	}

	.user-block {
		position: absolute;
		bottom: 0;
		padding: 1em;
		width: 100%;
		box-sizing: border-box;
	}
}
.photo-card{
	background-color:black;
	position: relative;
	overflow: hidden;

	.image-container{
		height:100%;
		width: 100%;
		position: absolute;
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		//box-shadow: inset 0 -300px 200px -200px rgba(0,0,0,0.8);
	}

	.image-bottom-box{
		position: absolute;
		bottom: 0;
		height: auto;
		width: 100%;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(rgba(0, 0, 0, 0.65)));
		background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.65));
		background: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.65));
		transition: transform 0.5s;
		-webkit-transition: transform 0.5s;
	}

	.type{
		color: rgba(204, 204, 204, 0.75);
		margin-left: 0.67em;
		margin-bottom: 1em;
		font-size: 1.2em;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
		a{
			color: inherit;
			text-decoration: none;
		}
	}
	.name{
		margin: 0 0.5em;
		font-size: 1.5em;
		color: white;
		position: relative;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
		font-weight: 700;
	}
	.addedDescription {
		color: rgba(250, 250, 250, 0.75);
		margin: 0 0.67em;
		font-size: 1.2em;
		color: white;
	}

	.info-box {
		height: 100%;
		width: 90%;
		background: white;
		position: absolute;
		right: 0px;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		transform: translate3d(100%, 0, 0);
		-ms-transform: translate3d(100%, 0, 0);
		-webkit-transform: translate3d(100%, 0, 0);
		transition: transform 0.5s;
		-webkit-transition: transform 0.5s;
		z-index: 10;

		.info-container {
			padding: 0 30px;
			height: 100%;
			overflow: auto;
		}

		.name {
			color: #333;
			margin-top: 1em;
			margin-left: 0;
			text-shadow: none;
		}
		.type {
			color: #777;
			margin-left: 0;
			text-shadow: none;
		}
		.oneliner {
			font-size: 0.8em;
			line-height: 1.5em;
			color: #777;
		}
		.map-holder {
			background: #ccc;
			height: 140px;
			width: 100%;
			margin-top: 1em;
		}



		.long-desc {
			margin-top: 1em;
			line-height: 1.5em;
			margin-bottom: 6em;
		}

		.bottom-holder {
			position: absolute;
			bottom: 0;
			width: 100%;
			background: -moz-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			padding-top: 50px;
		}

		.show-button {
			background: rgba(255, 255, 255, 0.5);
			height: 50px;
			width: 40px;
			position: absolute;
			bottom: 1.2em;
			border-radius: 5px 0 0 5px;
			left: -40px;
			transition: 0.5s;
			-webkit-transition: 0.5s;
			text-align: center;

			&:before{
				content: "\25c0";
				color: black;
				font-size: 2.5em;
				line-height: 50px;
			}
		}

		.hide-button{
			display: none;
			position: absolute;
			left: -12%;
			height: 100%;
			width: 12%;
			top: 0;
		}

		.add-button{
			position: absolute;
			background: #ccc;
			top: 0;
			right: 0.5em;
			height: 1.5em;
			width: 1.5em;
			text-align: center;
			font-size: 2em;
			z-index: 2;
			&:after {
				content: "";
				border: .75em solid #ccc;
				border-color: transparent #ccc;
				position: absolute;
				top: .75em;
				left: 0;
			}
		}
	}

	.page-link {
		text-decoration: none;
		padding: 0 1em;
		margin: 1em auto;
		display: inline-block;
		line-height: 1.5em;
		color: white;
		background: #53badc;
		border-radius: 5px 0 0 5px;
		position: absolute;
		right: 0;
		bottom: 0;
		font-size: 0.8em;
		max-width: 50%;
	}

	&.with-info{

		.image-bottom-box{
			transform: translate3d(-90%,0,0);
			-ms-transform: translate3d(-90%,0,0);
			-webkit-transform: translate3d(-90%,0,0);
		}
		.info-box{
			transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);


			.show-button{
				bottom: 85%;
				left:-25px;
				border-radius: 5px;
				width: 50px;
				background: rgba(204,204,204,0.6);
				transform: rotate(180deg);
				-ms-transform: rotate(180deg);
				-webkit-transform: rotate(180deg);
			}

			.hide-button{
				display: block;
			}
		}
	}

	&.top-card{
		.image-bottom-box{
			padding-top: 2em;
		}

		.page-link{
			display: none;
		}
		
		.info-box{
			display: none;}
	}

	&.is-saved{
		.add-button{
			background-color: orange;
			&:after{
				border-color: transparent orange;
			}
		}
	}

	&.result-card{
		.info-box {
			top: 3em;
			bottom: 0;
			height: auto;
		}
	}
	
	&.link-card{
		min-height: 200px;
		border-bottom: 4px solid white;

		.name {
			text-align: center;
			margin-bottom: 1em;
			line-height: 1.1em;
		}

		.image-bottom-box{
			padding-top:1em;
		}

		.card-link{
			position: absolute;
			top:0;
			left:0;
			bottom: 0;
			right: 0;
		}
	}

	&.is-ad {
		.info-container:after {
			content: "Book now!";
			position: absolute;
			bottom: 1em;
			background: #02B102;
			padding: 1em;
			font-weight: 700;
			color: white;
			right: 0;
			border-radius: 5px 0 0 5px;
		}


		&:after {
			content: "Sponsored";
			position: absolute;
			width: 100%;
			text-align: center;
			line-height: 2em;
			font-style: italic;
			font-weight: 700;
			background: #eaea00;
		}

		&.result-card{
			&:after{
				top:3em;
			}
		}
	}
}

#back-indicator{
	position: fixed;
	top: 40%;
	left: 30%;
	padding: 1em;
	background: rgba(255,255,255,0.8);
	color: #333;
	border-radius: 10px;
	display: none;
}

.search-field {
	position: fixed;
	width: 100%;
	margin: 0;
	z-index: 1000;
	padding: 1em 3em 1em 3em;
	box-shadow: 0 1px 1px rgba(0,0,0,0.6);
	border: none;
	font-size: 1em;
	box-sizing: border-box;
}
.clear-search {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2000;
	line-height: 3em;
	width: 3em;
	font-size: 1em;
	text-align: center;
}

.ui-autocomplete{
	line-height: 1.5em;
	color: #333;
	border: none;
}

.ui-menu .ui-menu-item {
	margin: 1em
}

.ui-widget-content .ui-state-focus {
	background: #53badc;
	color: white;
	border: none;
	border-radius: 5px;
}
.back-button {
	position: fixed;
	height: 2em;
	width: 2em;
	color: #333;
	z-index: 2000;
	text-align: center;
	line-height: 2em;
	font-size: 1.5em;
	top: 0;
}
