


@mixin box-shadow($args...) {
	-webkit-box-shadow: $args;
	-moz-box-shadow: $args;
	box-shadow: $args;
}

@mixin box-sizing($args...) {
	-webkit-box-sizing: $args;
	-moz-box-sizing: $args;
	box-sizing: $args;
}

@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

@mixin transform($args...) {
	-webkit-transform: $args;
	-moz-transform: $args;
	-ms-transform: $args;
	transform: $args;
}

@mixin transform-origin($args...) {
	-webkit-transform-origin: $args;
	-moz-transform-origin: $args;
	-ms-transform-origin: $args;
	transform-origin: $args;
}


$blue-dark: #005A9B;
$blue-reg: #0078B4;
$blue-light-muted: #c7e1ff;

$orange-reg: #F07800;
$orange-light: #f5d7aa;
$orange-transparent:  rgba(255, 153, 0, 0.33);

$red: #EB0934;
$red-light: #FFAAAA;

$red-flat: #C0392B; //#ED4C3C;
$red-flat-dark: #A01709; //#C0392B;
$red-flat-light: #ED4C3C; //#ebb3af;


$green: #5AC828;
$green-muted: #6DC346;
$green-light: #CCFFCC;

$teal-light: #87decd;
$teal-reg: #1ABC9C;
$teal-darker: #16A085;

$yellow-light: #FFFFCC;
$yellow-dark: #C7C700;
$yellow-strong: #FFdd55;

$gray-background: #f4f4f4;
$gray-ultralight: #eee;
$gray-night: #ccc;
$gray-light: #889baa;
$gray-reg: #5c6a73;
$gray-dark: #333;

$tan-background: #F4F0EC;

$primary-color: $blue-reg;
$primary-darker: $blue-dark;
$primary-lighter: $blue-light-muted;

$tab-color: black;
$tab-color-highlight: $primary-color;

.primary-color{ background-color: $primary-color;}
.primary-darker{ background-color: $primary-darker;}


.blue-dark{ background-color: $blue-dark;}
.blue-reg{ background-color: $blue-reg;}

.orange-reg{ background-color: $orange-reg;}
.orange-transparent{ background-color: $orange-transparent;}

.red{ background-color: $red;}
.red-light{ background-color: $red-light}

.green{ background-color: $green;}
.green-light{ background-color: $green-light}

.yellow-light{ background-color: $yellow-light}

.gray-light{ background-color: $gray-light}
.gray-dark{ background-color: $gray-dark}

.white{background-color: white;}

.gray-light-text{ color: $gray-light}
.gray-reg-text{ color: $gray-reg}
.gray-dark-text{ color: $gray-dark}
.blue-reg-text{ color: $blue-reg;}
.green-text{ color: $green;}
.red-text{ color: $red;}
.primary-color-text{color: $primary-color};

.gray-underline{
	border-bottom: 2px solid $gray-reg;
}


body {
	margin: 0;
	font-family: 'open sans', 'sans-serif';

	&.no-scroll{
		overflow: hidden;
	}
}


[data-ember-action] {
	cursor: pointer;
}

a{
	text-decoration: none;
	color: inherit;
	transition: 1s;

	&.active{
		color: #0ac;
	}
}

.hidden{
	display: none;
}

.centered-text{
	width: 100%;
	padding:1em;
	box-sizing: border-box;
	text-align: center;
	color: #333;
}

.ember-view{
	position: relative;
}

.page-description {
	top: -2em;
	color: white;
	position: relative;
	margin-left: 0.5em;
	font-size: 1.5em;
	margin-bottom: -1em;
	line-height: 1em;
}

#original-map-placeholder {
	.map-holder {
		position: fixed;
		z-index: -1;
		height: 100%;
		width: 100%
	}
}
.map-canvas {
	height:100%;
	width: 100%;
}

#actual-map{
	height: 100%;
	width: 100%;
}

#original-map-placeholder {
	z-index: -1;
	opacity: 0;
}
#expanded-map {
	position: fixed;
	background: #ccc;
	transition: 1s;
	z-index: -1;

	&.expanded {
		z-index:2000;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

.full-height{
	height:100%;
}

.expand-map, .expand-image{
	position: absolute;
	height: 50px;
	width: 50px;
	background: rgba(255,255,255,0.8);
	top: 0;
	right: -1px;
	z-index: 1;
	text-align: center;

	&:after{
		content: "\279a";
		font-size: 2em;
		color: #333;
	}
}
.minimize-map {
	position: absolute;
	height: 50px;
	width: 50px;
	background: rgba(255,255,255,0.8);
	top: 0;
	left: 0px;
	z-index: 1;
	text-align: center;

	&:after{
		content: "\2715";
		font-size: 2em;
		color: #333;
	}
}

.side-menu {
	height: 100%;
	position: fixed;
	top: 0;
	left: -90%;
	width: 90%;
	z-index: 996;
	background: white;
	color: #333;
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;

	&.is-open {
		transform: translate3d(100%, 0, 0);
		-ms-transform: translate3d(100%, 0, 0);
		-webkit-transform: translate3d(100%, 0, 0);

		.menu-close {
			display: block;
		}
	}
	.menu-toggle {
		height: 50px;
		width: 70px;
		position: absolute;
		right: -70px;
		margin: 10px 0;
		top: 0;
		line-height: 50px;
		color: white;
		font-size: 1.5em;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
		text-align: center;
		border-right: 1px solid rgba(255,255,255,0.3);
	}
	.menu-close {
		display: none;
		position: absolute;
		top: 0;
		right: -12%;
		bottom: 0;
		width: 12%;
	}

	.ancestry {
		padding: 1em;
		line-height: 2em;

		.offset-1{
			margin-left:1em;
		}
		.offset-2{
			margin-left:2em;
		}
		.offset-3{
			margin-left:3em;
		}
		.offset-4{
			margin-left:4em;
		}
		.is-selected{
			color: black;
			font-weight: 700;
			border-top: 1px solid #aaa;
		}
	}

	.page-specific{
		border-bottom: 1px solid #ccc;
	}

	.main-menu {
		font-size: 1.5em;
		line-height: 2em;
		padding: 1em;

		.menu-option{
			&:before {
				margin-right: 10px;
				top: 2px;
				position: relative;
				font-size: 0.9em;
			}
		}
	}

	.user-block {
		position: absolute;
		bottom: 0;
		padding: 1em;
		width: 100%;
		box-sizing: border-box;
	}
}


.right-card {
	height: 100%;
	position: fixed;
	top: 0;
	right: -90%;
	width: 90%;
	z-index: 999;
	background: white;
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;

	&.with-photo{
		z-index:2001;
		.map-holder{
			display: none;
		}
	}

	&.with-map{
		.image-holder{
			display: none;
		}
	}

	&.is-open {
		transform: translate3d(-100%, 0, 0);
		-ms-transform: translate3d(-100%, 0, 0);
		-webkit-transform: translate3d(-100%, 0, 0);
		box-shadow: -1px 0 2px rgba(0, 0, 0, 0.3);

		.menu-edge {
			left: -12%;
		}

		.show-button{
			bottom: 80%;
			left:-35px;
			border-radius: 5px;
			width: 60px;
			background: rgba(204,204,204,0.6);
			transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			-webkit-transform: rotate(180deg);
		}

	}

	.info-container {
		padding: 0 30px;
		height: 100%;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}


	.name{
		margin: 0 0.5em;
		font-size: 1.5em;
		color: white;
		position: relative;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
		font-weight: 700;
	}
	.type{
		color: rgba(204, 204, 204, 0.75);
		margin: 0 0.67em;
		margin-bottom: 0.5em;
		font-size: 1.2em;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	}

	.name {
		color: #333;
		margin-top: 1em;
		margin-left: 0;
		text-shadow: none;
	}
	.type {
		color: #777;
		margin-left: 0;
		text-shadow: none;
	}

	.caption-holder {
		display: none;
		color: rgba(204, 204, 204, 0.5);
		font-size: 0.6em;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
		overflow: hidden;
		text-overflow: ellipsis;
		position: absolute;
		bottom:0;
		padding: 1em;
		width: 100%;
		box-sizing: border-box;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(rgba(0, 0, 0, 0.65)));
		background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.65));
		background: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.65));
		a{
			color: rgba(255,255,255,0.75);
		}
	}
	.oneliner {
		font-size: 0.8em;
		line-height: 1.5em;
		color: #777;
	}


	.reviews{
		margin-top: 1em;
		font-size: 0.8em;
		text-align: right;
		position: relative;

		.review-box{
			height: 1.5em;
			width: 1.5em;
			background-color: black;
			font-size: 1em;
			color:white;
			display: inline-block;
			vertical-align: top;


			&:before{
				display: block;
				text-align: center;
				line-height: 1.5em;
			}

			&:hover:after{
				right: 0;
				top: 2em;
				position: absolute;
				white-space: nowrap;
				background-color: black;
				border-radius: 3px;
				font-size: 0.8em;
				padding: 0 3px;
				z-index: 10000;
			}

			&.review_source_0{
				background-color: blue;
				&:before{
					content: "LP";
				}
				&:hover:after{
					content: "Reviewed by Lonely Planet";
				}
			}
			&.review_source_1{
				background-color: orange;
				&:before{
					content: "F";
				}
				&:hover:after{
					content: "Reviewed by Fodor's";
				}
			}
			&.review_source_2{
				background-color: red;
				&:before{
					content: "Fr";
				}
				&:hover:after{
					content: "Reviewed by Frommer's";
				}
			}
			&.review_source_3{
				background-color: #d2d4d3;
				&:before{
					content: "TL";
					font-weight: bold;
					color: black;
				}
				&:hover:after{
					content: "Reviewed by Travel + Leisure";
				}
			}
			&.review_source_4{
				background-color: blue;
				&:before{
					content: "RS";
					color: yellow;
				}
				&:hover:after{
					content: "Reviewed by Rick Steve's";
				}
			}
		}
	}



	.reviews-holder {
		display: inline-block;
		margin-top: 1em;
		vertical-align: top;
		padding: 1em 1em 0 1em;
		font-size: 0.8em;
		border-radius: 5px;
		width: 100%;
		box-sizing: border-box;
		background: #f5f5f5;
		position: relative;

		.close{
			position: absolute;
			right: 0em;
			top: 0em;
			width: 3em;
			line-height:3em;
			background-color: #ccc;
			text-align:center;
		}

		.review-box{
			display: block;
			margin: 10px 0;
			width: 2em;
			vertical-align: top;
		}
		.review-link {
			height: 2em;
			width: 2em;
			background-color: #333;
			display: block;
			position: relative;

			&:before{
				text-align: center;
				color: white;
				display: block;
				line-height: 2em;
			}

			&:after{
				white-space: nowrap;
				position: absolute;
				top: 0;
				left: 3em;
				line-height: 2em;
				width: 12em;
			}
		}

		.review-score {
			font-size: 0.8em;
			text-align: center;
			font-weight: bold;
		}

		.review_source_0{
			.review-link{
				background-color: blue;
				&:before{
					content: "LP";
				}
				&:after{
					content: "Lonely Planet";
				}
			}
			.review-score{
				display: none;
			}
		}

		.review_source_1{
			.review-link{
				background-color: orange;
				&:before{
					content: "F";
				}
				&:after{
					content: "Fodor's";
				}
			}
			.review-score{
				display: none;
			}
		}

		.review_source_2{
			.review-link{
				background-color: red;
				&:before{
					content: "Fr";
				}
				&:after{
					content: "Frommer's";
				}
			}
			.review-score{
				display: none;
			}
		}

		.review_source_3{
			.review-link{
				background-color: #d2d4d3;
				&:before{
					content: "TL";
					font-weight: bold;
					color: black;
				}
				&:after{
					content: "Travel + Leisure";
				}
			}
			.review-score{
				display: none;
			}
		}

		.review_source_4{
			.review-link{
				background-color: blue;
				&:before{
					content: "RS";
					color: yellow;
				}
				&:after{
					content: "Rick Steve's";
				}
			}
			.review-score{
				display: none;
			}
		}


		.highlighted{
			.review-highlight{
				display: block;
				height: 1.5em;
				width: 100%;
				position: relative;

				&:after{
					color: black;
					font-weight: 700;
					z-index: 1000;
					white-space: nowrap;
					top: 0;
					left: 4em;
					position: absolute;
				}
			}

			.review-score{
				display: none;
			}

			&.review_source_0{


				.review-highlight{
					background-color: blue;
					color: white;
					font-size: 0.8em;
					line-height: 1.5em;
					margin-top: 1px;
					&:before{
						content: "TOP";
						text-align: center;
						display: block;
					}

					&:after{
						content: "LP Top pick";
					}
				}

			}
			&.review_source_1{


				.review-highlight{
					background-color: orange;
					border-radius: 2em;
					color: white;
					width: 1.5em;
					font-size: 0.8em;
					line-height: 1.5em;
					margin: 5px auto;
					&:before{
						content: "a";
						text-align: center;
						display: block;
						font-family: "wanderant";
						font-size: 0.8em;
					}

					&:after{
						content: "Fodor's choice";
					}
				}

			}
			&.review_source_2{


				.review-highlight{
					background-color: red;
					color: white;
					font-size: 0.8em;
					line-height: 1.5em;
					&:before{
						content: "aaa";
						text-align: center;
						display: block;
						font-family: "wanderant";
						font-size: 0.8em;
					}

					&:after{
						content: "Do not miss";
					}
				}

			}
			&.review_source_4{


				.review-highlight{
					background-color: blue;
					color: yellow;
					font-size: 0.8em;
					line-height: 1.5em;
					margin-top: 1px;
					&:before{
						content: "\25b2\25b2\25b2";
						text-align: center;
						display: block;
					}

					&:after{
						content: "Don't miss";
					}
				}

			}

		}
	}



	.map-holder, .image-holder {
		background: #ccc;
		height: 140px;
		width: 100%;
		margin-top:1em;
	}

	.image-holder{
		position: relative;
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;

		&.is-expanded{
			position: fixed;
			top:0;
			bottom: 0;
			left: -12%;
			right: 0;
			height: auto;
			margin: 0;
			width: auto;
			z-index: 2020;

			.expand-image{
				left:0;

				&:after{
					content: "\2715";
				}
			}

			.caption-holder{
				display: block;
			}
		}
	}

	.action-bar{
		display: table;
		width: 100%;

		.action-btn {
			display: table-cell;
			text-align: center;
			color: #0ac;
			padding: 2em 1em 0 1em;
			width: 33%;
			box-sizing: border-box;
			position: relative;
			font-size: 0.9em;

			&:before {
				position: absolute;
				font-size: 1.5em;
				top: 0;
				left: 0;
				right: 0;
				line-height: 1.5em;
			}
		}
	}

	.long-desc {
		max-width: 45em;
		margin: 1em auto 6em;
		line-height: 1.5em;
	}

	.bottom-holder {
		position: absolute;
		bottom: 0;
		width: 100%;
		background: -moz-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		padding-top: 50px;
	}

	.show-button {
		background: rgba(255, 255, 255, 0.5);
		height: 60px;
		width: 50px;
		position: absolute;
		bottom: 1.2em;
		border-radius: 5px 0 0 5px;
		left: 0px;
		transition: 0.5s;
		-webkit-transition: 0.5s;
		text-align: center;

		&:before{
			content: "\25c0";
			color: black;
			font-size: 2.5em;
			line-height: 60px;
		}
	}

	.page-link {
		text-decoration: none;
		padding: 0 1em;
		margin: 1em auto;
		display: inline-block;
		line-height: 1.5em;
		color: white;
		background: #0ac;
		border-radius: 5px 0 0 5px;
		position: absolute;
		right: 0;
		bottom: 0;
		font-size: 0.9em;
		max-width: 50%;
	}


	.menu-edge {
		position: absolute;
		height: 100%;
		left: 0%;
		top: 0;
		width: 33%;
	}

	.add-button{
		position: absolute;
		background: #ccc;
		top: 0;
		right: 0.5em;
		height: 1.5em;
		width: 1.5em;
		text-align: center;
		font-size: 2em;
		z-index: 2;
		&:after {
			content: "";
			border: .75em solid #ccc;
			border-color: transparent #ccc;
			position: absolute;
			top: .75em;
			left: 0;
		}
	}


	&.is-saved{
		.add-button{
			background-color: orange;
			&:after{
				border-color: transparent orange;
			}
		}
	}

	&.is-ad{
		.info-container:after {
			content: "Book now!";
			position: absolute;
			bottom: 1em;
			background: #02B102;
			padding: 1em;
			font-weight: 700;
			color: white;
			right: 0;
			border-radius: 5px 0 0 5px;
		}
	}
}

.photo-card{
	background-color:black;
	position: relative;
	overflow: hidden;
	min-height: 200px;
	border-bottom:3px solid white;

	.image-container{
		height:100%;
		width: 100%;
		position: absolute;
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		transform: scale3d(1.1,1.1,1);
		transition: 3s;

		&.bottom{
			transform: scale3d(1,1,1);
			opacity: 0;
		}
	}

	.image-bottom-box{
		position: absolute;
		bottom: 0;
		height: auto;
		width: 100%;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(rgba(0, 0, 0, 0.65)));
		background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.65));
		background: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.65));
		transition: transform 0.5s;
		-webkit-transition: transform 0.5s;
		text-align: center;
	}

	.index{
		color: white;
		margin: 0 0.25em;
		font-size: 3em;
		font-family: times new roman;
		text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
	}
	.name{
		margin: 0 0.5em;
		font-size: 1.5em;
		color: white;
		position: relative;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
		font-weight: 700;
	}
	.type{
		color: rgba(204, 204, 204, 0.75);
		margin: 0 0.67em;
		margin-bottom: 0.5em;
		font-size: 1.2em;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	}

	.addedDescription {
		color: rgba(250, 250, 250, 0.85);
		margin: 0 0.67em;
		font-size: 1.2em;
	}

	.caption-holder {
		display: none;
		color: rgba(204, 204, 204, 0.5);
		margin: 0px 5em 0.5em 1.3em;
		font-size: 0.6em;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
		overflow: hidden;
		text-overflow: ellipsis;
		a{
			color: rgba(255,255,255,0.75);
		}
	}

	.info-box {
		display:none;
		height: 100%;
		width: 0;
		background: white;
		position: absolute;
		right: 0px;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		transform: translate3d(100%, 0, 0);
		-ms-transform: translate3d(100%, 0, 0);
		-webkit-transform: translate3d(100%, 0, 0);
		transition: transform 0.5s;
		-webkit-transition: transform 0.5s;
		z-index: 10;

		.show-button {
			background: rgba(255, 255, 255, 0.5);
			height: 60px;
			width: 50px;
			position: absolute;
			bottom: 1.2em;
			border-radius: 5px 0 0 5px;
			left: -50px;
			transition: 0.5s;
			-webkit-transition: 0.5s;
			text-align: center;

			&:before{
				content: "\25c0";
				color: black;
				font-size: 2.5em;
				line-height: 60px;
			}
		}

	}


	&.with-info{

		.image-bottom-box{
			transform: translate3d(-90%,0,0);
			-ms-transform: translate3d(-90%,0,0);
			-webkit-transform: translate3d(-90%,0,0);
		}
		.info-box{
			transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);




		}
	}

	&.top-card{
		border: none;
		.image-bottom-box{
			top:0;
			bottom: 0;
			font-size:1.2em;
			text-align: center;

			&:after{
				content: "";
				position: absolute;
				border: 4px solid white;
				color: white;
				font-size: 2em;
				width: 30px;
				height: 30px;
				border-color: transparent transparent rgba(250,250,250,0.8) rgba(250,250,250,0.8);
				transform: rotate(-45deg);
				left: 0;
				right: 0;
				margin: auto;
				bottom: 2em;
			}

			.vertical-center-parent{
				position: absolute;
				top:50%;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				width: 100%;
			}
		}

		.page-link{
			display: none;
		}

		.info-box{
			display: none;}
	}

	&.is-expanded{
		border:none;
		.info-box{
			display: block;
		}
		.index{
			font-size: 4em;
		}
		.image-bottom-box{
			text-align: left;
		}
		.caption-holder{
			display: block;
		}
	}



	&.result-card{
		.info-box {
			top: 3em;
			bottom: 0;
			height: auto;
		}
	}

	&.link-card{
		min-height: 200px;
		border-bottom: 4px solid white;

		.name {
			text-align: center;
			margin-bottom: 1em;
			line-height: 1.1em;
		}

		.image-bottom-box{
			padding-top:1em;
		}

		.card-link{
			position: absolute;
			top:0;
			left:0;
			bottom: 0;
			right: 0;
		}
	}

	&.is-ad {

		&:after {
			content: "Sponsored";
			position: absolute;
			width: 100%;
			text-align: center;
			line-height: 2em;
			font-style: italic;
			font-weight: 700;
			background: #eaea00;
		}

		&.result-card{
			&:after{
				top:3em;
			}
		}
	}
}



#back-indicator{
	position: fixed;
	top: 40%;
	left: 30%;
	padding: 1em;
	background: rgba(255,255,255,0.8);
	color: #333;
	border-radius: 10px;
	display: none;
}

.search-field {
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0;
	z-index: 997;
	padding: 1em 3em 1em 3em;
	box-shadow: 0 1px 1px rgba(0,0,0,0.6);
	border: none;
	font-size: 1em;
	box-sizing: border-box;
}


.clear-search {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 998;
	line-height: 3em;
	width: 3em;
	font-size: 1em;
	text-align: center;
}

.ui-autocomplete{
	line-height: 1.5em;
	color: #333;
	border: none;
}

.ui-menu .ui-menu-item {
	margin: 1em
}

.ui-widget-content .ui-state-focus {
	background: #53badc;
	color: white;
	border: none;
	border-radius: 5px;
}
.back-button {
	position: fixed;
	height: 2em;
	width: 2em;
	color: #333;
	z-index: 998;
	text-align: center;
	line-height: 2em;
	font-size: 1.5em;
	top: 0;
}
.search-field-spacer{
	height: 3em;
}



.map-marker {
	width: auto;
	height: 20px;
	margin-top: -20px !important;
	margin-left: 4px !important;
	cursor: pointer;

	&.center {
		height: 24px;
		margin-top: -23px !important;
		margin-left: 9px !important;
		box-shadow: 8px 10px 2px -8px rgba(0, 0, 0, 0.6);
		padding-left: 15px;

		.marker-label{
			font-size: 14px;
			border: 2px solid red;
		}

		&:before{
			content: "";
			border-top: 3px dotted red;
			width: 15px;
			left: 0px;
			top: 11px;
			position: absolute;
		}

		&.collection{
			.marker-label{
				border: 2px solid orange;
			}

			&:before{
				border-top: 3px dotted orange;
			}
		}

	}

	.marker-image-container {
		display: none;
	}

	.marker-details {
		position: relative;
		width: 100%;
		background: white;
		color: $gray-reg;
		z-index: 2;
	}

	.marker-label {
		font-size: 12px;
		color: $gray-dark;
		padding: 2px 5px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		display: block;
		font-weight: 700;
		border-bottom: 2px solid $red;
	}

	.marker-oneliner {
		padding: 6px 5px;
		max-height: 3em;
		text-overflow: ellipsis;
		overflow: hidden;
		display: none;
	}

	.read-more {
		color: $blue-reg;
		padding: 1em;
		text-align: right;
		display: none;
	}

	.marker-type {
		max-width: 10em;
		padding: 2px 5px;
		display: none;
	}

	&.trippoint {
		background-color: transparent;

		.marker-details {
			border-bottom-color: $green;
		}
		&:after {
			border-color: $green transparent transparent transparent;
		}
	}


	&.route {
		margin-top: -65px !important;
		margin-left: -11px !important;
		width: 200px;
		height: 60px;
		background-color: transparent;

		.marker-details {
			border-bottom-color: $green;
		}
		.marker-label {
			display: block;
			max-width: none;
			line-height: 1.5em;
			white-space: normal;
		}
		&:after {
			border-color: $green transparent transparent transparent;
		}
	}

	&.trippoint.alternate,
	&.route.alternate {
		.marker-details {
			border-bottom-color: $blue-reg;
		}
		&:after {
			border-color: $blue-reg transparent transparent transparent;
		}
	}

	&.collection {
		.marker-label {
			border-bottom-color: $orange-reg;
			background-color: $orange-light;
		}
		&:after {
			border-color: $orange-reg transparent transparent transparent;
		}
	}

	&.prominent {
		width: 200px;
		height: auto;
		margin-top: -152px !important;
		overflow: visible !important;
		@include box-shadow(0px 0px 1px 1px rgba(0, 0, 0, 0.25), 3px 3px 1px rgba(0, 0, 0, 0.25));

		.marker-label, .marker-oneliner, .marker-type, .read-more {
			display: block;
		}

		.marker-image-container {
			display: block;
			background: $gray-ultralight url('/assets/loading.gif') no-repeat scroll center center;

			.marker-image {
				width: 200px;
				height: 132px;
			}
		}
	}
}

.feedback {
	position: fixed;
	bottom: -500px;
	z-index: 20000;
	background: yellow;
	width: 100%;
	min-height: 3em;
	font-size: 0.8em;
	transition: transform .5s;
	-webkit-transition: -webkit-transform .5s;

	.sentence{
		margin: 1em;
		margin-right: 4em;


		a{
			font-weight: 700;
		}
	}
	.button{
		margin: 1em;
		text-transform: uppercase;
		font-weight: 700;
	}
	.dismiss{
		position: absolute;
		right: 0;
		top: 0;
		background: rgba(0,0,0,0.5);
		padding: 1em;
		color: white;
	}

	&.success{
		background: $green-light;
	}

	&.failure{
		background: $red-flat;
		color: white;
	}

	&.is-showing{
		transform: translate3d(0, -500px,0);
		-webkit-transform: translate3d(0, -500px,0);
	}
}

.floating-button{
	position: fixed;
	height:3em;
	width: 3em;
	border-radius: 3em;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19),0 6px 3px rgba(0, 0, 0, 0.23);
	z-index: 995;
	bottom: 1em;
	right:1em;
	transition: 0.5s;
	box-sizing: border-box;

	.coverall{
		opacity: 0;
		transition: 1s;
	}

	.content{
		background: white;
		position: absolute;
		bottom:0;
		right:0;
		left: 0;
		top: 0;
		border-radius: 3em;
		z-index: 2000;
		transition: 0.2s;
		padding: 0 1em 1px 1em;
	}

	&.add .expand-button:before{
		content: "+"
	}

	.expand-button{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2001;
		&:before{
			font-size: 3em;
			text-align: center;
			width: 100%;
			line-height: 1em;
			position: absolute;
			color: black;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&.is-expanded{
		bottom:0;
		right: 0;
		z-index: 2000;
		width: 100%;
		height: 100%;
		padding: 1em;
		border-radius: 0;
		background: none;
		box-shadow: none;

		.coverall{
			opacity: 1;
			position: fixed;
			content: "";
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background: rgba(0,0,0,0.75);
			z-index: 1999;
		}

		.content{
			border-radius: 5px;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}

		.expand-button{
			width: 3em;
			height: 3em;
			bottom: auto;
			left: auto;
			background: rgba(0,0,0,0.5);
			&:before{
				content: "\2715";
				color: white;
				font-size: 1.5em;
				line-height: 2em;
			}
		}
	}
}

.form-modal{
	.title{
		font-weight: 700;
		margin-right: 2em;
		line-height: 2em;
		margin-bottom: 2em;
		font-size: 1.5em;
		color: black;
	}

	.field-title{
		margin-top:1em;
		left: .5em;
		position: relative;
	}

	.field-wrapper{
		position: relative;
		margin-top: .25em;
		width: 100%;
		input{
			width: 100%;
			line-height: 1.5em;
			font-size: 1em;
			padding: 0 0.5em;
			box-sizing: border-box;
			border: none;
			border-bottom: 2px solid #ccc;

			&:focus{
				outline: none;
				border-bottom-color: $blue-light-muted;
			}
		}
		.clear-button {
			position: absolute;
			right: 0;
			top: 0;
			line-height: 1.5em;
			width: 1.5em;
			text-align: center;
		}


	}

	.submit-button{
		position: relative;
		background: $green;
		padding: 1em;
		width: 6em;
		color: white;
		border-radius: 5px;
		margin: 2em auto;
		text-align: center;
		left: 0;
		right: 0;

		.loader-holder{
			margin: -1px auto;
			top: -2em;
			font-size: 0.5em;
			width: 100%;
			left: 0;
			min-height: 3em;


		}
	}
}

.loader:before,
.loader:after,
.loader {
	border-radius: 50%;
	width: 2em;
	height: 2em;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation: load7 1.8s infinite ease-in-out;
	animation: load7 1.8s infinite ease-in-out;
}

.loader-holder{
	position: relative;
	margin: auto;
	.loader{
		margin: 0px auto;
		position: relative;
	}

	&.white-loader{
		.loader, .loader:before, .loader:after{
			-webkit-animation: loadwhite 1.8s infinite ease-in-out;
			animation: loadwhite 1.8s infinite ease-in-out;
		}
		.loader:before {
			left: -3.5em;
			-webkit-animation-delay: -0.16s;
			animation-delay: -0.16s;
		}
		.loader:after {
			left: 3.5em;
			-webkit-animation-delay: 0.16s;
			animation-delay: 0.16s;
		}
	}
}
.main-loader.loader {
	font-size: 10px;
	margin: 0px auto;
	position: relative;
	text-indent: -9999em;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
	position: fixed;
	z-index: 30000;
	top: 0em;
	right: 0;
	left: 0;
}
.loader:before {
	left: -3.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.loader:after {
	left: 3.5em;
}
.loader:before,
.loader:after {
	content: '';
	position: absolute;
	top: 0;
}
@-webkit-keyframes load7 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em rgba(255,255,255,0);
	}
	40% {
		box-shadow: 0 2.5em 0 0 #00aacc;
	}
}
@keyframes load7 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em rgba(255,255,255,0);
	}
	40% {
		box-shadow: 0 2.5em 0 0 #00aacc;
	}
}
@-webkit-keyframes loadwhite {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em rgba(255,255,255,0);
	}
	40% {
		box-shadow: 0 2.5em 0 0 #ffffff;
	}
}
@keyframes loadwhite {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em rgba(255,255,255,0);
	}
	40% {
		box-shadow: 0 2.5em 0 0 #ffffff;
	}
}

