<div class="ancestry">
	<div class={{ancestor.offsetClass}}>{{#link-to 'index'}}Other countries{{/link-to}}</div>
	{{#each model.ancestorsArray as |ancestor|}}
		<div class={{ancestor.offsetClass}}>{{#link-to ancestor.target ancestor.slug}}{{ancestor.name}}{{/link-to}}</div>
	{{/each}}
</div>
